@import '../../utility/styles.css';

.profile {
  width: 80%;
  max-width: 30rem;
  border: none;
}
.textarea {
  width: 100%;
  height: 6rem;
  outline: none;
  display: inline;
  font-size: 1rem;
  padding: 0.5rem;
  border: 2px solid var(--primary--light);
  border-radius: 0;
  margin: 0;
}
