@import '../../utility/styles.css';

/* Modal */
.modal__background {
  opacity: 0.9;
}
.modal__content,
.modal__content__signout {
  width: 100%;
  max-width: 25rem;
  border: none;
  padding: 1.25rem 1.5rem;
  font-size: 1.25rem;
  margin: 2rem;
}
.modal__content.modal__content__playlist {
  background-color: var(--tertiary);
  color: var(--white);
  border: none;
}
.modal__content.modal__content__signout {
  background-color: var(--white);
  color: var(--tertiary);
}
